// 设置elementUI全局样式
.el-submenu .el-menu-item {
  padding-left: 50px !important;
  font-size: 15px;
  &.is-active {
    background: rgba(245, 108, 108, .2) !important;
  }
}
li.el-submenu{
  &.is-active,.is-opened{
    .el-submenu__title{
      background: $mainColor !important;
    }
  }
} 

/* dialog样式 */
.el-dialog__header{
  padding: 25px 20px 10px 30px;
}
.el-dialog__body{
  padding: 30px 48px 0px 43px;
}
.el-dialog__footer{
  padding: 22px 48px 50px;
  text-align: center;
  .el-button{
    width: 150px;
  }
}

// select下拉样式
.el-select-dropdown__item{
  padding: 0 20px
}
